.navbarGrid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 650px ;
    grid-template-rows: 70px;
    background-color: #242326;
    align-items: center;
    justify-items: center;
    font-size: 150%;
    padding-left: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.otherElements {
    color: #F0EFF4;
    text-align: center;
}
.otherElements:hover {
    color: #AD343E;
}
.myName {
   color: #F0EFF4;
  
   text-align: center;
   justify-self: right;

}
.active {
    color: #F0EFF4;
    text-decoration: #AD343E underline;
    text-underline-position: under;
}
.my-Picture {
    border-radius: 50%;
    height: 200px;
    width: auot;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    position: absolute;
    left: 80%;
    bottom: 10%;
}

#greeting{
    color: #F0EFF4;
    text-align: left;
    padding-left: 650px;
    font-weight: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.nameAndQuestions{
    color: #AD343E;
    text-align: center;
    padding-left: 500px;
    width: 400px;
    font-weight: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.answers{
    color: #F0EFF4;
    text-align: center;
    padding-left: 500px;
    width: 400px;
    font-weight: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.projectsGrid{
    display: grid;
    grid-template-columns: 600px 600px ;
    grid-template-rows: 200px 500px 500px;
    justify-items: center;
    padding-left: 100px;

    grid-template-areas:
    "header header "
    "bsImage  bsDes"
    "snakeImage  snakeDes";
}
.projectsHeader{
    padding-top: 20px;
    grid-area: header;
    text-align: center;
    align-self: center;
    justify-self: center;
}
.heading{
    color: #F0EFF4;
    font-weight: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: none;
    padding-left: 0;
}
.desHeader{
    color: #AD343E;
    font-weight: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    
}


.bs{
    margin-top: 20px;
    margin-right: 60px;
    width: 300px;
    height: 350px;
    border: 3px solid #AD343E;

}
.bsImgae{
    grid-area:bsImage;
}
.bsImageDes{
    grid-area: bsDes;

}
.snake{
    margin-top: 20px;
    margin-right: 60px;
    width: 300px;
    height: 350px;
    border: 3px solid #AD343E;
}
.snakeImage{
    grid-area:snakeImage;
}
.snakeImageDes{
    grid-area:snakeDes;
}
.description{
    color: #F0EFF4;
    text-align: center;
    font-weight: normal;

    line-height: 30px;
}




a {
    text-decoration: none;
}
